*{
	padding: 0px;
	margin: 0px;
	font-family: arial;
}

body {
	/*background:url(file:///F:/Pollo%20Clicker/fondo2.png);*/ /* Nuestra imagen de fondo */
	/*background-repeat: repeat;*/ /* Indicamos que no se repetira */
	/*background-size: cover;*/ /* Encajamos la imagen al 100% del ancho */
	/*background-attachment: fixed;*/ /* Establecemos una posicion fija para la imagen */
	background-color: #007689;
 }

.botones{
	float: right;
	margin-top: 100px;
}

button{
	outline: 0;
}

button:hover{
	cursor: pointer;
}

.botones button{
	border: 0px;
	background-color: #B29700;
	color: #957F00;
	padding: 10px 5px 10px 5px;
	transition: all 500ms ease;
	width: 100px;
}

.botones button:hover{
	cursor: pointer;
	color: #FFDA00;
	background-color: #957F00;
}

.imgPollo{
	height: 150px;
	width: 150px;
}

.casaBase{
	margin: auto;
	height: 300px;
	width: 400px;
	border: 2px solid black;
	background-color: #f2f2f2;
	margin-top: -150px;
}

.paredes{
	height: 250px;
	width: 360px;
	border: 1px solid blue;
	margin: auto;
	margin-top: 50px;
	opacity: 0;
	transition: 3s;
}

.ventanas{
	height: 30px;
	width: 30px;
	border: 1px solid blue;
	border-radius: 10px;
	background-color: rgba(0,0,0,0.25);
	margin-left: 65px;
	margin-top: 120px;
	opacity: 0;
	transition: 1500ms;
}

.puerta{
	height: 100px;
	width: 60px;
	border: 1px solid blue;
	margin-left: 250px;
	opacity: 0;
	margin-top: -5px;
	transition: 2s;
}

#comprarParedesB{
	transition: 2s;
	border: none;
	background-color: #B29700;
	color: #957F00;
	padding: 10px 5px 10px 5px;
	border-radius: 10px;
	/*transition: all 500ms ease;*/
	/*width: 100px;*/
}

#comprarVentanasB{
	transition: 2s;
	opacity: 0.5;
	border: none;
	background-color: #B29700;
	color: #957F00;
	padding: 10px 5px 10px 5px;
	border-radius: 10px;
}
#comprarPuertaB{
	transition: 2s;
	opacity: 0.5;
	border: none;
	background-color: #B29700;
	color: #957F00;
	padding: 10px 5px 10px 5px;
	border-radius: 10px;
}

.mejorascasa{
	margin-top: -300px;
	margin-left: 1250px;
	background-color: #026879;
	padding: 10px 5px 10px 5px;
	width: 300px;
	text-align: center;
	border-radius: 25px;
}

.mejorascasa button{
	margin-top: 10px;
}

.informacion{
	float: right;
	text-align: center;
	margin-right: 55%;
	margin-top: -140px;
/*	background: url(file:///F:/Pollo%20Clicker/fondo.png);
	background-repeat: no-repeat;
	background-size: cover;*/
	background-color: #026879;
	padding: 20px 30px 20px 30px;
	height: 150px;
	width: 300px;
	border-radius: 30px;
}

.mejoras{
	margin-left: -130px;
	transition: 1s;
	background-color: #026879;
	border-radius: 20px;
	width: 7%;
	padding: 15px 10px 15px 10px;
}

.mejoras button{
	border: 0px;
	background-color: #B29700;
	color: #957F00;
	padding: 10px 5px 10px 5px;
	transition: all 500ms ease;
	width: 100px;
}

.mejoras button:hover{
	cursor: pointer;
	color: #FFDA00;
	background-color: #957F00;
}

#mejorasBoton{
	transition: 500ms;
	border: none;
	background-color: #1B7902;
	color: #00A414;
	padding: 10px 5px 10px 5px;
	border-radius: 10px;
/*	outline: 0;*/
}

#mejorasBotonC{
	transition: 500ms;
	opacity: 0;
	border: none;
	background-color: #1B7902;
	color: #00A414;
	padding: 10px 5px 10px 5px;
	border-radius: 10px;
}

/*.botones button:hover{
	cursor: help;
}*/
